<div class="flexcontainer">
  <div style="flex-basis: 65%;">

    <mat-card>
      <form [formGroup]="mailForm" novalidate>
        <mat-card-header>
          <mat-card-title>Mail bericht</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
            <div fxFlex="0 0 30%">
              <mat-form-field>
                <mat-select placeholder="Bewaarde mails" formControlName="SavedMails"
                  (selectionChange)="onMailNameChanged($event)">
                  <mat-option *ngFor="let item of savedMailNames.MailNameItems" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="0 0 66%">
              <div fxLayout="column">

                <mat-form-field id="EmailName">
                  <input matInput type="text" placeholder="Naam mail" formControlName="EmailName"
                    [formControl]="EmailName">
                  <mat-error *ngIf="EmailName.hasError('required')">
                    Veld is verplicht
                  </mat-error>
                </mat-form-field>

                <mat-form-field id="EmailSubject">
                  <input matInput type="text" placeholder="Onderwerp" formControlName="EmailSubject"
                    [formControl]="EmailSubject">
                  <mat-error *ngIf="EmailSubject.hasError('required')">
                    Veld is verplicht
                  </mat-error>
                </mat-form-field>

                <angular-editor formControlName="HtmlContent" [config]="editorConfig"
                  [placeholder]="'Enter text here...'"></angular-editor>

                <div class="attachmentbox">
                  <button mat-raised-button color="primary" (click)="fileInput.click()" id="attachmentbutton">
                    <span>Kies bijlage</span>
                    <input #fileInput type="file" (change)="onFileSelected($event.target.files)"
                      style="display:none; margin: 0px 15px 0px 0px;" />
                  </button>
                  {{ fileToUpload?.name }}
                </div>
              </div>
            </div>

          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" (click)='onSaveEmail()' [disabled]='!mailForm.valid'>Save</button>
          <button mat-raised-button color="primary" (click)='onDeleteMail()'>Delete</button>
        </mat-card-actions>

      </form>
    </mat-card>

    <div class="flexcontainer" style="justify-content: space-between;">
      <mat-card style="flex-basis: 48%;">
        <mat-card-header>
          <mat-card-title>Verstuur Mail</mat-card-title>
        </mat-card-header>
        <form [formGroup]="mailboxparamForm" novalidate>
          <mat-card-content>

            <button mat-raised-button color="primary" (click)="onSendMail($event)" [disabled]='itemsToMail.length === 0'
              matBadge={{itemsToMail.length}} matBadgePosition="after" matBadgeColor="warn">Verzend mail</button>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>

  <mat-card style="flex-basis: 30%;">
    <app-member-selection-box-wrapper [ledenLijst]='ledenLijst' (selectedMemberList)="onSelectionChanged($event)"></app-member-selection-box-wrapper>
  </mat-card>
</div>
