<mat-card>
  <mat-card-header-spinner title="Kopje pagina"></mat-card-header-spinner>
  <mat-card-content>
    <app-select-lid-dropdown [leden-array]="ledenLijst" [default-value]="selected" (valueSelected)="onUserSelectedRole($event)">
    </app-select-lid-dropdown>
    <p>You selected: {{selected}}</p>
  </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-header-spinner title="Kopje pagina" [progress]="progress"></mat-card-header-spinner>

    <mat-card-content>
      <app-a2hs></app-a2hs>
      <mat-progress-bar [value]="progress" max="100" style="margin-top: 50px;"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onClick()" color="primary">Doe iets</button>
        <mat-waiting-button icon="edit" (holdTime)="holdHandler($event)" [myCallback]="theBoundCallback"></mat-waiting-button>
        <button mat-icon-button color="primary" holdable (holdTime)="holdHandler($event)">
          <mat-icon aria-label="Done">done</mat-icon>
      </button>
      <button mat-raised-button (click)="onConvertGebruikers()" color="primary">Convert gebruikers</button>
    </mat-card-actions>
</mat-card>
